table {
    width: 80%;
    margin: auto;
    border: 1px solid #444444;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #444444;
}
tr {
    text-align: center;
}

div {
    border:1px solid #444444;
    padding-left: 5%;
    padding-bottom: 5%;
}